body {
    margin: 0;
    /* -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif; */
        font-family: 'gg sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}




@font-face {
    font-family: 'gg sans';
    src: url('fonts/ggsans-ExtraBold.woff') format('woff2');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'gg sans';
    src: url('fonts/ggsans-Bold.woff') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'gg sans';
    src: url('fonts/ggsans-Semibold.woff') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "gg sans";
    src: url("fonts/ggsans-Medium.woff2") format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "gg sans";
    src: url("fonts/ggsans-Normal.woff2") format('woff2');
    font-style: normal;
    font-weight: 400;
}